.gallery {
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.gallery h2 {
  width: 100%;
}

.popularProducts {
  padding: 20px;
  /* background-color: #e0e0e0; */
  margin: 20px auto 50px auto;
}

.title {
  margin-top: 0;
  text-align: left;
}

.productItem {
  flex: 1;
}

.filterContainer {
  display: flex;
}

.filterButtons {
  margin-right: 20px;
  flex-direction: column;
  /* 縦並びにするために追加 */
  gap: 10px;
  /* ボタンの間にスペースを追加 */
  width: 20%;
  text-align: left;
}
.popularProductLists {
  margin: 80px;
  text-align: center;
}

/* 人気の商品のとこ */
.popularProductTitle {
}

.productList {
  /* display: flex; */
  /* flex-wrap: wrap; */
  gap: 20px;
  flex: 1;
  place-items: center;
}

.product-item {
  background-color: white;
  padding: 35px;
  width: calc(33.333% - 100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hr {
  size: 20px;
  color: black;
  background-color: black;
  height: 3px;
}
