.footer {
  background-color: black;
}

.footer_nav {
  text-align: center;
  padding: 20px;
}

.footer_nav p {
  color: white;
}

.footer_circle {
  background-color: white;
}

.page_top {
  background-color: white;
  border-radius: 20px;
}

.social_media {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.instagram,
.youtube,
.x {
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
}
